.container-fluid {
    display: flex;
    margin-right: 2rem;
    justify-content: center;
    position: relative;
}

body {
    font-family: 'Frank Ruhl Libre', serif;
    margin: 2rem;
}

.collapse navbar-collapse {
    display: flex;
    margin-right: 2rem;
    justify-content: center;
    position: relative;
}

nav ul {
list-style-type: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 8%;
    position: relative;
    margin: 2rem;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
} 

.mission-statement {
    flex-basis: 60%;
    margin-right: 2rem;
}

.women-image {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
  
.women-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    width: 13%;
    height: 13%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
  
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.description {
    margin-top: 2%;
    text-align: center;
    bottom: 0;
    width: 13%;
}
